.greenTriangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;
  margin-top: .8vh;
  margin-right: .4vh;
}

.redTriangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
  margin-top: .8vh;
  margin-right: .4vh;
}

.greyCircle {
  width: 5px;
  height: 5px;
  min-width: 5px;
  min-height: 5px;
  background-color: grey;
  border-radius: 50%;
  margin-top: .7vh;
  margin-right: .4vh;
}
