#navbar {
  display: flex;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 500px) {
  #navbar {
    min-width: 100px;
    flex-wrap: nowrap;
    font-size: 14px;
  }
}
