.flex-centered-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-display {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-space-btw {
  justify-content: space-between;
}

.flex-space-arnd {
  justify-content: space-around;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-self-end {
  align-self: flex-end;
}
